
  body, html  {
  height: 100%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.title {
  text-align: center;
  font-size: 90px;
  font-weight: 900
}

.one{
font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
flex: 1;
border: 5px solid #ffffff;
border-radius: .5em;
font-size: 140%;
background-color: rgba(179, 179, 179, 0.5);
color: #000000;
}